{% extends 'base.html' %}
{% load static %}
{% block content %}

<!--services start-->
<div class="row py-2">
    <p class="fs-3 text-center">our <b class="text-mycolor1">services </b></p>

    <div class="col-sm-10 mx-auto">
        <div class="row py-3">
            <!--services card s-->
            <div class="col-sm-3">
                <div class="card mx-auto shadow-lg border border-0 p-2">
                    <div class="row g-0">
                        <div class="col-2 ps-2">
                            <i class="fa-solid fa-lock serviceic"></i>
                        </div>
                        <div class="col-10 ps-2">
                            <span><b>data security</b></span><br>
                            <span><b>no data sharing allowed</b></span>
                        </div>
                    </div>
                </div>
            </div>
            <!--services card e-->
            <!--services card s-->
            <div class="col-sm-3">
                <div class="card mx-auto shadow-lg border border-0 p-2">
                    <div class="row g-0">
                        <div class="col-2 ps-2">
                            <i class="fa-solid fa-lock serviceic"></i>
                        </div>
                        <div class="col-10 ps-2">
                            <span><b>data security</b></span><br>
                            <span><b>no data sharing allowed</b></span>
                        </div>
                    </div>
                </div>
            </div>
            <!--services card e-->
            <!--services card s-->
            <div class="col-sm-3">
                <div class="card mx-auto shadow-lg border border-0 p-2">
                    <div class="row g-0">
                        <div class="col-2 ps-2">
                            <i class="fa-solid fa-lock serviceic"></i>
                        </div>
                        <div class="col-10 ps-2">
                            <span><b>data security</b></span><br>
                            <span><b>no data sharing allowed</b></span>
                        </div>
                    </div>
                </div>
            </div>
            <!--services card e-->
            <!--services card s-->
            <div class="col-sm-3">
                <div class="card mx-auto shadow-lg border border-0 p-2">
                    <div class="row g-0">
                        <div class="col-2 ps-2">
                            <i class="fa-solid fa-lock serviceic"></i>
                        </div>
                        <div class="col-10 ps-2">
                            <span><b>data security</b></span><br>
                            <span><b>no data sharing allowed</b></span>
                        </div>
                    </div>
                </div>
            </div>
            <!--services card e-->

        </div>
        <div class="row py-3">
            <!--services card s-->
            <div class="col-sm-3">
                <div class="card mx-auto shadow-lg border border-0 p-2">
                    <div class="row g-0">
                        <div class="col-2 ps-2">
                            <i class="fa-solid fa-lock serviceic"></i>
                        </div>
                        <div class="col-10 ps-2">
                            <span><b>data security</b></span><br>
                            <span><b>no data sharing allowed</b></span>
                        </div>
                    </div>
                </div>
            </div>
            <!--services card e-->
            <!--services card s-->
            <div class="col-sm-3">
                <div class="card mx-auto shadow-lg border border-0 p-2">
                    <div class="row g-0">
                        <div class="col-2 ps-2">
                            <i class="fa-solid fa-lock serviceic"></i>
                        </div>
                        <div class="col-10 ps-2">
                            <span><b>data security</b></span><br>
                            <span><b>no data sharing allowed</b></span>
                        </div>
                    </div>
                </div>
            </div>
            <!--services card e-->
            <!--services card s-->
            <div class="col-sm-3">
                <div class="card mx-auto shadow-lg border border-0 p-2">
                    <div class="row g-0">
                        <div class="col-2 ps-2">
                            <i class="fa-solid fa-lock serviceic"></i>
                        </div>
                        <div class="col-10 ps-2">
                            <span><b>data security</b></span><br>
                            <span><b>no data sharing allowed</b></span>
                        </div>
                    </div>
                </div>
            </div>
            <!--services card e-->
            <!--services card s-->
            <div class="col-sm-3">
                <div class="card mx-auto shadow-lg border border-0 p-2">
                    <div class="row g-0">
                        <div class="col-2 ps-2">
                            <i class="fa-solid fa-lock serviceic"></i>
                        </div>
                        <div class="col-10 ps-2">
                            <span><b>data security</b></span><br>
                            <span><b>no data sharing allowed</b></span>
                        </div>
                    </div>
                </div>
            </div>
            <!--services card e-->

        </div>
        <div class="row py-3">
            <!--services card s-->
            <div class="col-sm-3">
                <div class="card mx-auto shadow-lg border border-0 p-2">
                    <div class="row g-0">
                        <div class="col-2 ps-2">
                            <i class="fa-solid fa-lock serviceic"></i>
                        </div>
                        <div class="col-10 ps-2">
                            <span><b>data security</b></span><br>
                            <span><b>no data sharing allowed</b></span>
                        </div>
                    </div>
                </div>
            </div>
            <!--services card e-->
            <!--services card s-->
            <div class="col-sm-3">
                <div class="card mx-auto shadow-lg border border-0 p-2">
                    <div class="row g-0">
                        <div class="col-2 ps-2">
                            <i class="fa-solid fa-lock serviceic"></i>
                        </div>
                        <div class="col-10 ps-2">
                            <span><b>data security</b></span><br>
                            <span><b>no data sharing allowed</b></span>
                        </div>
                    </div>
                </div>
            </div>
            <!--services card e-->
            <!--services card s-->
            <div class="col-sm-3">
                <div class="card mx-auto shadow-lg border border-0 p-2">
                    <div class="row g-0">
                        <div class="col-2 ps-2">
                            <i class="fa-solid fa-lock serviceic"></i>
                        </div>
                        <div class="col-10 ps-2">
                            <span><b>data security</b></span><br>
                            <span><b>no data sharing allowed</b></span>
                        </div>
                    </div>
                </div>
            </div>
            <!--services card e-->
            <!--services card s-->
            <div class="col-sm-3">
                <div class="card mx-auto shadow-lg border border-0 p-2">
                    <div class="row g-0">
                        <div class="col-2 ps-2">
                            <i class="fa-solid fa-lock serviceic"></i>
                        </div>
                        <div class="col-10 ps-2">
                            <span><b>data security</b></span><br>
                            <span><b>no data sharing allowed</b></span>
                        </div>
                    </div>
                </div>
            </div>
            <!--services card e-->

        </div>
    </div>
</div>
<!--services end-->

{% endblock %}