{% extends 'base.html' %}
{% load static %}
{% block content %}

<!--start team-->
        <div class="row team py-2">
            <p class=" text-center fs-3">Our<b class="text-color1"> Team</b></p>
            <div class="col-sm-10 mx-auto">
                <div class="row py-2">
                    <!--team first start-->
                    <div class="col-sm-4">
                        <div class="card mx-auto w-75">
                            <img src="{% static 'images/16.jpg' %}" class="card-img-top img-fuild imgteam " alt="...">
                            <div class="card-body">
                                <h5 class="card-title">Tanishq ojha</h5>
                                <p class="card-text">Junior Er.</p>
                                <p class="text-center">
                                    <a href="https://www.facebook.com/tanishq.ojha.75"><i class="fa-brands fa-square-facebook ic"></i></a>
                                    <a href="https://instagram.com/aaghanya_ojha"><i class="fa-brands fa-instagram ic"></i></a>
                                    <a href=""><i class="fa-brands fa-youtube ic"></i></a>
                                    <a href="https://www.linkedin.com/in/tanishq-ojha"><i class="fa-brands fa-linkedin ic"></i></a>
                                </p>
                            </div>
                        </div>
                    </div>
                    <!--team first end-->
                   <!--team first start-->
                    <div class="col-sm-4">
                        <div class="card mx-auto w-75">
                            <img src="{% static 'images/16.jpg' %}" class="card-img-top img-fuild imgteam " alt="...">
                            <div class="card-body">
                                <h5 class="card-title">Tanishq ojha</h5>
                                <p class="card-text">Python Developer</p>
                                <p class="text-center">
                                    <a href="https://www.facebook.com/tanishq.ojha.75"><i class="fa-brands fa-square-facebook ic"></i></a>
                                    <a href="https://instagram.com/aaghanya_ojha"><i class="fa-brands fa-instagram ic"></i></a>
                                    <a href=""><i class="fa-brands fa-youtube ic"></i></a>
                                    <a href="https://www.linkedin.com/in/tanishq-ojha"><i class="fa-brands fa-linkedin ic"></i></a>
                                </p>
                            </div>
                        </div>
                    </div>
                    <!--team first end-->
                   <!--team first start-->
                    <div class="col-sm-4">
                        <div class="card mx-auto w-75">
                            <img src="{% static 'images/16.jpg' %}" class="card-img-top img-fuild imgteam " alt="...">
                            <div class="card-body">
                                <h5 class="card-title">Tanishq ojha</h5>
                                <p class="card-text">Full Stack Developer</p>
                                <p class="text-center">
                                    <a href="https://www.facebook.com/tanishq.ojha.75"><i class="fa-brands fa-square-facebook ic"></i></a>
                                    <a href="https://instagram.com/aaghanya_ojha"><i class="fa-brands fa-instagram ic"></i></a>
                                    <a href=""><i class="fa-brands fa-youtube ic"></i></a>
                                    <a href="https://www.linkedin.com/in/tanishq-ojha"><i class="fa-brands fa-linkedin ic"></i></a>
                                </p>
                            </div>
                        </div>
                    </div>
                    <!--team first end-->
                </div>
            </div>
        </div>
        <!--end team-->

{% endblock %}